::placeholder {
    text-align: center; 
  
}
 body{
    width: 100%;
    height: auto;
    margin:0;
    background-size: 100%;
    background-color:white;
    background-image: url("");
    color: #000;
}
.top-bar{
    display: flex !important;
    width: 100% !important;
    height: 40px !important;
    background: #ffffff !important;
    justify-content: space-between !important;
    font-family: 'Roboto', sans-serif !important;
}
.menu{
    display: flex !important;
    max-height: 80% !important;
    width: 100% !important;
    background: #ffffff !important;
    float: left !important;
    justify-content: space-between !important;
    font-family: 'Roboto', sans-serif !important;
    padding: 5px 10px 0px !important;
    line-height: 170% !important;
}
.menubar{
    background-color: #ffffff;
    justify-content: space-between !important;
    
}
.top{
    width: 100%;
    height: 450px;
    background: #D0CBC5;
    float: left;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.mid{
    width: 100%;
    max-width: 100%;
    height: 600px;
    max-height: 600px;
    background: #f0f0f2;
    float: left;
}
.bot{
    width: 100%;
    height: 200px;
    background: #D0CBC5;
    float: left;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-evenly;
}
#inmid{
    height: 580px;
    width: 90%;
    max-height: 600px;
    max-width: 100%;
    padding: 10px 5%;
    float: left;
}
#panel1{
    height: 100%;
    max-width:100%;
    /* max-height:100%; */
}
#leftcol{
    height: 100%;
    border-right: solid 2px #215843;
    border-left: solid 2px #215843;
    width: 33%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#midcol{
    height: 100%;
    width: 33%;
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#rightcol{
    height: 100%;
    border-left: solid 2px #215843;
    border-right: solid 2px #215843;
    width: 33%;
    float: left;
}
#lup{
    width: 90%;
    height: 46%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
    border-top: solid 2px #215843;
    border-bottom: solid 1px #215843;
}
#ldw{
    width: 90%;
    height: 46%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
    border-top: solid 1px #215843;
    border-bottom: solid 2px #215843;
}
#mup{
    width: 90%;
    height: 46%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-top: solid 2px #215843;
    border-bottom: solid 1px #215843;
}
#mdw{
    width: 90%;
    height: 46%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-top: solid 1px #215843;
    border-bottom: solid 2px #215843;
}
#rup{
    width: 90%;
    height: 46%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
    border-top: solid 2px #215843;
    border-bottom: solid 1px #215843;
}
#rdw{
    width: 90%;
    height: 46%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
    border-top: solid 1px #215843;
    border-bottom: solid 2px #215843;
}
#shirt-cat{
    width: 60%;
    height: 100%;
    display: inline-block;
}
#cena{
    width: 10%;
    display: inline-block;
    /* float: left; */
    vertical-align: 400%;
}
.footer-style{
 text-decoration: none;
 background-color: white;
 color: black;
 border:none;
}
a{
    text-decoration: none;
    color: #000;
}
#paneltext{
    background-image: url(panel1.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}